{% extends 'base.html' %}

{% block home_urls %} "{% url 'admin_home_page' request.user.user_id %}" {% endblock %}
{% block about_urls %} "{% url 'admin_about_page' request.user.user_id %}" {% endblock %}
{% block contact_urls %} "{% url 'admin_contact_page' request.user.user_id %}" {% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/all_students.css">
    
    <div class="students-table">
        <h2>Student Detais</h2>
        <div class="search-container">
            <form method="POST" action="/search-results/" class="search-bar">
                <i class="fas fa-search search-icon"></i>
                <input type="text" name="search_query" placeholder="Search..." class="search-input">
                <button type="submit" class="search-submit-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <!--select name="filter_option" class="filter-dropdown">
                <option value="">All</option>
                <option value="B.Tech/CSE">CSE</option>
                <option value="B.Tech/Chemical">Chemical</option>
                <option value="B.Tech/FEHS">FEHS</option>
            </select-->

            <form method="GET" action="{% url 'all_students' request.user.user_id %}">
                <select name="branch" class="filter-dropdown" onchange="this.form.submit()">
                  <option value="">All Branches</option>
                  <option value="B.Tech/CSE">CSE</option>
                  <option value="B.Tech/Chemical">Chemical</option>
                  <option value="B.Tech/FEHS">FEHS</option>
                </select>
              </form>

        </div>
        <table>
        <thead>
            <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
            <td>{{student.student.user_id}}</td>
            <td>{{student.first_name}} {{student.last_name}}</td>
            <td>{{student.student.email}}</td>
            <td>{{student.branch}}</td>
            <td>
                <a href="{% url 'update_student' request.user.user_id student.student.user_id %}"><button class="edit-btn" >Edit</button></a>
                <button class="delete-btn" onclick="openDeleteModal()">Delete</button>

                <div id="deleteModal" class="modal">
                    <div class="modal-content">
                        <span class="close-btn" onclick="closeDeleteModal()">&times;</span>
                        <h3>Are you sure you want to delete?</h3>
                        <p>This action cannot be undone.</p>
                        <div class="modal-buttons">
                            <a href="{% url 'delete_student' request.user.user_id student.student.user_id %}"><button class="confirm-delete-btn">Yes, Delete</button></a>
                            <button class="cancel-btn" onclick="closeDeleteModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <script>
        function openDeleteModal() {
            document.getElementById("deleteModal").style.display = "block";
        }

        function closeDeleteModal() {
            document.getElementById("deleteModal").style.display = "none";
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}