{% extends 'base.html' %}


{% block content %}
    <link rel="stylesheet" href="/static/update_student.css">

    <form method="POST" enctype="multipart/form-data" class="update-form">
        {% csrf_token %}
        <h1 class="user-id"><strong>{{ student.student.user_id }}</strong></h1>
    
        <div class="form-row">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{student.first_name}}" autocomplete='off'>
            </div>
    
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{student.last_name}}"autocomplete='off'>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" autocomplete='off' value="{{student.gender}}">
                    <option value="Select">SELECT</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Others</option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="branch">Branch:</label>
                <select id='branch' name="branch" value="{{student.branch}}">
                    <option value="Select">SELECT</option>
                    <option value="B.Tech/CSE">B.Tech/CSE</option>
                    <option value="B.Tech/FEHS">B.Tech/FEHS</option>
                    <option value="B.Tech/Chemical">B.Tech/Chemical</option>
                </select>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" autocomplete='off' value="{{student.student.email}}">
            </div>
    
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" autocomplete='off' value="{{ student.dob|date:'Y-m-d' }}">
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="file" id="photo" name="image_pic" accept="image/*" value="{{student.image}}">
            </div>
    
            <div class="form-group">
                <label for="sign">Sign Image:</label>
                <input type="file" id="sign" name="sign_pic" accept="image/*" value="{{student.sign}}">
            </div>
        </div>
    
        <div class="form-group form-submit">
            <button type="submit" class="submit-btn">Update</button>
        </div>
    </form>
{% endblock %}